.post-card {
    margin: 10px;
    padding: 0px;
    width: 450px;
    border-radius: 25px;
}

#post-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px;
}

#post-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-height: 300px;
    max-width: 450px;
}

#post-footer {
    margin: 5px;
    padding: 10px;
    font-size: 17px;
}

#author-name {
    color: black;
}

#post-card-link {
    text-decoration: none;
}