.post-card {
    border-bottom: 1px solid #D3D3D3;
}

#post-card-top-section {
    display: flex;
    justify-content: space-between;
}

.top-section-info {
    font-size: 18px;
}

.post-settings-icons {
    font-size: 23px;
    display: flex;
    justify-content: space-around;
}

.settings-i {
    margin-right: 8px;
    cursor: pointer;
}

.content-preview {
    margin-bottom: 30px;
}

#post-date {
    color: #6B6B6B;
}

#author-name {
    color: #000;
}

#card-title {
    font-weight: bold;
    font-size: 23px;
    color: #000;
}

.content-preview {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.post-page-link {
    text-decoration: none;
}

#post-settings-icon {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

#post-settings-icon:hover {
    background-color: #E5E4E2;
    transition: .5s;
}