#title {
    border: 0;
    font-size: 32px;
    box-shadow: none;
}

#create-post-content-content {
    border: none;
    box-shadow: none;
    overflow: auto;
    resize: none;
    white-space: pre-wrap;
}

#publish-btn {
    width: 10%;
    font-size: 17px;
    border-radius: 50px;
    background-color: #7a9c93;
    position: relative;
    left: 80%;
}

#publish-btn:hover {
    background-color: #03a87c;
    transition: 0.5s;
}

#authors {
    width: 20%;
}